#忽略 Dart/Flutter 產生的編譯資料夾
.dart_tool/
.packages
.pub-cache/
.pub/
build/

#忽略 Android 特定檔案
.gradle/
local.properties
gen/
Captures/
*.apk

#忽略 iOS 特定檔案
.generated/
DerivedData/
*.log
Pods/

#忽略 IDE 設定（這最常導致組員間衝突）
.idea/
.vscode/
*.iml