# =========================
# Django 基本設定
# =========================
SECRET_KEY=your-secret-key-here
DEBUG=True

# 多個用逗號分隔
ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2,*


# =========================
# Database (PostgreSQL)
# =========================
DB_NAME=slowonmove
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432


# =========================
# CORS
# =========================
CORS_ALLOW_ALL_ORIGINS=True


# =========================
# JWT (可選，未來可擴充)
# =========================
ACCESS_TOKEN_LIFETIME_DAYS=1
REFRESH_TOKEN_LIFETIME_DAYS=7

# =========================
# 註冊帳號（直接複製到自己的.env）
# =========================
CORS_ALLOW_ALL_ORIGINS=True

GOOGLE_WEB_CLIENT_ID=785504219544-9b97t2lpbduebhifurb4vb3cm3basm92.apps.googleusercontent.com

GOOGLE_IOS_CLIENT_ID=785504219544-pu3e5gug6vac7oshm00cq2kbmb2a0rb3.apps.googleusercontent.com


GOOGLE_ANDROID_CLIENT_ID=785504219544-4ivg52l7k2u5u63mmiitj659ej8am0os.apps.googleusercontent.com

FACEBOOK_APP_ID=1fb1486365623030140
FACEBOOK_APP_SECRET=xxxxxxxx

# =========================
# 開發測試帳號
# =========================
CREATE_DEV_USER=True

DEV_USER_USERNAME=dev
DEV_USER_EMAIL=dev@example.com
DEV_USER_PASSWORD=dev123456
DEV_USER_NAME=Dev User