# =========================
# Django 基本設定
# =========================
SECRET_KEY=your-secret-key-here
DEBUG=True

# 多個用逗號分隔
ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2,*


# =========================
# Database (PostgreSQL)
# =========================
DB_NAME=slowonmove
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=localhost
DB_PORT=5432


# =========================
# CORS
# =========================
CORS_ALLOW_ALL_ORIGINS=True


# =========================
# JWT (可選，未來可擴充)
# =========================
ACCESS_TOKEN_LIFETIME_DAYS=1
REFRESH_TOKEN_LIFETIME_DAYS=7

# =========================
# 註冊帳號（直接複製到自己的.env）
# =========================
CORS_ALLOW_ALL_ORIGINS=True

GOOGLE_WEB_CLIENT_ID=231442028986-mo83ph02ucmr0vg0jl34224f1gomsgsr.apps.googleusercontent.com

GOOGLE_IOS_CLIENT_ID=231442028986-1l9t00e9rp2eak6tnr1juifld2sce8p9.apps.googleusercontent.com

GOOGLE_ANDROID_CLIENT_ID=231442028986-co239o2vr4ds5bgpcjgqdn3a2pvja5u3.apps.googleusercontent.com

FACEBOOK_APP_ID=1544257417341589
FACEBOOK_APP_SECRET=xxxxxxxx